* {
  margin: 0;
  padding: 0;
  font-family: 'Circular Std', sans-serif;
}

p {
  font-weight: 450;
}

.mobile-nav {
  display: none;
  background-color: #fff;
}

@media (max-width: 481px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    padding: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 999;
    border-bottom: 2px solid green;
  }
}

.mobile-nav .mobile-logo {
  height: 32px;
  width: 32px;
}

.mobile-nav .hamburger {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav .hamburger .line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 17px;
}

.mobile-nav .hamburger .line {
  height: 3px;
  background: #1a1a1a;
  border-radius: 2px;
}

.mobile-nav .hamburger .line1 {
  width: 20px;
}

.mobile-nav .hamburger .line2 {
  width: 15px;
}

.mobile-nav .hamburger .line3 {
  width: 10px;
}

.nav-bar {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10rem;
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

@media (max-width: 481px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: 375px;
    padding: 5rem 1rem;
    border-bottom: 2px solid red;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translateY(-375px);
            transform: translateY(-375px);
    z-index: -5;
    position: absolute;
    top: 60px;
    left: 0;
  }
}

.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 331px;
}

@media (max-width: 481px) {
  .left-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.left-content .logo {
  height: 24px;
  width: 144px;
  cursor: pointer;
}

@media (max-width: 481px) {
  .left-content .logo {
    display: none;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 35%;
}

@media (max-width: 481px) {
  .nav-list {
    gap: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.nav-list li {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 155px;
}

@media (max-width: 481px) {
  .btn-container {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    z-index: -5;
  }
}

.btn-container .btn {
  border-radius: 4px;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
}

@media (max-width: 481px) {
  .btn-container .btn {
    width: 100%;
  }
}

.btn-container .btn_signUp {
  color: #212121;
  background: #ffffff;
  border: 1px solid #ccc;
}

.btn-container .btn_signIn {
  color: #ffffff;
  background: #0052cc;
  margin-left: 1rem;
}

@media (max-width: 481px) {
  .btn-container .btn_signIn {
    margin-left: 0;
  }
}

#hero {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 6rem 10rem 9.75rem;
}

@media (max-width: 481px) {
  #hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid red;
    padding: 1rem;
    margin-top: 60px;
  }
}

#hero .text-wrapper {
  -webkit-box-flex: 0.45;
      -ms-flex: 0.45;
          flex: 0.45;
}

#hero .text-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  color: #091e42;
  line-height: 57.6px;
}

#hero .text-wrapper p {
  font-size: 1rem;
  line-height: 24px;
  color: #344563;
  margin-top: 36px;
}

#hero .img-wrapper {
  -webkit-box-flex: 0.55;
      -ms-flex: 0.55;
          flex: 0.55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 481px) {
  #hero .img-wrapper {
    width: 100%;
  }
}

#hero .img-wrapper img {
  width: 100%;
}

@media screen and (max-width: 481px) {
  #hero .img-wrapper img {
    width: 100%;
  }
}

#human-resource {
  padding: 5rem 10rem;
  background: #f4f5f7;
}

@media (max-width: 481px) {
  #human-resource {
    padding: 1rem;
  }
}

#human-resource header {
  width: 40%;
}

#human-resource header h2 {
  font-size: 48px;
  color: #091e42;
  font-weight: 700;
  line-height: 60px;
}

#human-resource header p {
  font-size: 1rem;
  line-height: 24px;
  margin-top: 1.5rem;
  color: #5e6c84;
}

#human-resource .hr-itemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
  gap: 24px;
}

@media (max-width: 481px) {
  #human-resource .hr-itemsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#human-resource .hr-itemsContainer .hr-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem 2rem 2.5rem 2rem;
  border-radius: 1rem;
  background: #ffffff;
}

#human-resource .hr-itemsContainer .hr-item .hrItem__logo {
  width: 64px;
  height: 64px;
}

#human-resource .hr-itemsContainer .hr-item .hrItem__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 2rem;
  color: #091e42;
}

#human-resource .hr-itemsContainer .hr-item .hrItem__info {
  color: #5e6c84;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

#human-resource .employee-directory {
  width: 985px;
  margin-top: 7rem;
}

@media (max-width: 481px) {
  #human-resource .employee-directory {
    width: 100%;
  }
}

#admin-nd-logistics {
  padding: 5rem 10rem;
  background: #ffffff;
}

@media (max-width: 481px) {
  #admin-nd-logistics {
    padding: 1rem;
    border: 1px solid #8f887b;
  }
}

#admin-nd-logistics .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

@media (max-width: 481px) {
  #admin-nd-logistics .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#admin-nd-logistics .header .left-section {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  padding: 2rem 2rem 2rem 0;
}

#admin-nd-logistics .header .left-section h2 {
  font-size: 48px;
  line-height: 64.8px;
  color: #091e42;
}

#admin-nd-logistics .header .left-section .heading {
  font-size: 47px;
}

#admin-nd-logistics .header .left-section p {
  font-size: 1rem;
  line-height: 24px;
  color: #5e6c84;
  margin-top: 2rem;
}

#admin-nd-logistics .header .right-section {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

@media (max-width: 481px) {
  #admin-nd-logistics .header .right-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#admin-nd-logistics .header .right-section .right-section__item {
  padding: 2rem;
  border-radius: 16px;
}

@media (max-width: 481px) {
  #admin-nd-logistics .header .right-section .right-section__item {
    padding: 1rem;
  }
}

#admin-nd-logistics .header .right-section .right-section__item .right-section__logo {
  height: 64px;
  width: 64px;
}

#admin-nd-logistics .header .right-section .right-section__item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 2rem;
  color: #091e42;
}

#admin-nd-logistics .header .right-section .right-section__item p {
  font-size: 14px;
  color: #5e6c84;
  line-height: 20px;
  margin-top: 8px;
}

#admin-nd-logistics .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.5rem;
}

@media (max-width: 481px) {
  #admin-nd-logistics .img-container {
    width: 100%;
  }
}

@media (max-width: 481px) {
  #admin-nd-logistics .img-container img {
    width: 100%;
  }
}

#partners-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.5rem;
  margin-bottom: 13rem;
}

@media (max-width: 481px) {
  #partners-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#partners-container .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#partners-container .grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 481px) {
  #partners-container .grp {
    border: 1px solid orange;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#partners-container .grp-one {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

#partners-container .grp-two {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

footer {
  background: #091e42;
  padding: 4.4375rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 481px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 337px;
  }
}

@media (max-width: 481px) {
  footer .left-section {
    height: 200px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .left-section p {
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 481px) {
  footer .left-section p {
    text-align: center;
  }
}

footer .right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 2pxx solid white;
}

@media (max-width: 481px) {
  footer .right-section {
    height: 200px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .right-section .icons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 24px;
}

footer .right-section .copyright {
  margin-top: 8px;
}

footer .right-section .copyright p {
  font-size: 1rem;
  line-height: 16px;
  color: #fafbfc;
}

@media (max-width: 481px) {
  footer .right-section .copyright p {
    text-align: center;
  }
}
