* {
  margin: 0;
  padding: 0;
  font-family: 'Circular Std', sans-serif;
}

p {
  font-weight: 450;
}

.nav-bar {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10rem;
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

@media screen and (max-width: 481px) {
  .nav-bar {
    height: 60px;
    padding: 14px 1rem;
    border: 1px solid orangered;
  }
}

.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 331px;
}

.left-content .logo {
  height: 24px;
  width: 144px;
  cursor: pointer;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 35%;
}

.nav-list li {
  font-size: .9rem;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 155px;
}

.btn-container .btn {
  border-radius: 4px;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
}

.btn-container .btn_signUp {
  color: #212121;
  background: #ffffff;
  border: 1px solid #ccc;
}

.btn-container .btn_signIn {
  color: #ffffff;
  background: #0052cc;
  margin-left: 1rem;
}

#hero {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 6rem 10rem 9.75rem;
}

@media screen and (max-width: 481px) {
  #hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid red;
    padding: 1rem;
  }
}

#hero .text-wrapper {
  -webkit-box-flex: 0.45;
      -ms-flex: 0.45;
          flex: 0.45;
}

#hero .text-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  color: #091e42;
  line-height: 57.6px;
}

#hero .text-wrapper p {
  font-size: 1rem;
  line-height: 24px;
  color: #344563;
  margin-top: 36px;
}

#hero .img-wrapper {
  -webkit-box-flex: 0.55;
      -ms-flex: 0.55;
          flex: 0.55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 481px) {
  #hero .img-wrapper {
    width: 100%;
  }
}

#hero .img-wrapper img {
  width: 100%;
}

@media screen and (max-width: 481px) {
  #hero .img-wrapper img {
    width: 100%;
  }
}

#human-resource {
  padding: 5rem 10rem;
  background: #f4f5f7;
}

@media (max-width: 481px) {
  #human-resource {
    padding: 1rem;
  }
}

#human-resource header {
  width: 40%;
}

#human-resource header h2 {
  font-size: 48px;
  color: #091e42;
  font-weight: 700;
  line-height: 60px;
}

#human-resource header p {
  font-size: 1rem;
  line-height: 24px;
  margin-top: 1.5rem;
  color: #5e6c84;
}

#human-resource .hr-itemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
  gap: 24px;
}

@media (max-width: 481px) {
  #human-resource .hr-itemsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#human-resource .hr-itemsContainer .hr-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem 2rem 2.5rem 2rem;
  border-radius: 1rem;
  background: #ffffff;
}

#human-resource .hr-itemsContainer .hr-item .hrItem__logo {
  width: 64px;
  height: 64px;
}

#human-resource .hr-itemsContainer .hr-item .hrItem__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 2rem;
  color: #091e42;
}

#human-resource .hr-itemsContainer .hr-item .hrItem__info {
  color: #5e6c84;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

#human-resource .employee-directory {
  width: 985px;
  margin-top: 7rem;
}

@media (max-width: 481px) {
  #human-resource .employee-directory {
    width: 100%;
  }
}

#admin-nd-logistics {
  padding: 5rem 10rem;
  background: #ffffff;
}

@media (max-width: 481px) {
  #admin-nd-logistics {
    padding: 1rem;
  }
}

#admin-nd-logistics .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

@media (max-width: 481px) {
  #admin-nd-logistics .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#admin-nd-logistics .header .left-section {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  padding: 2rem 2rem 2rem 0;
}

#admin-nd-logistics .header .left-section h2 {
  font-size: 48px;
  line-height: 64.8px;
  color: #091e42;
}

#admin-nd-logistics .header .left-section .heading {
  font-size: 47px;
}

#admin-nd-logistics .header .left-section p {
  font-size: 1rem;
  line-height: 24px;
  color: #5e6c84;
  margin-top: 2rem;
}

#admin-nd-logistics .header .right-section {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

@media (max-width: 481px) {
  #admin-nd-logistics .header .right-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#admin-nd-logistics .header .right-section .right-section__item {
  padding: 2rem;
  border-radius: 16px;
}

@media (max-width: 481px) {
  #admin-nd-logistics .header .right-section .right-section__item {
    padding: 1rem;
  }
}

#admin-nd-logistics .header .right-section .right-section__item .right-section__logo {
  height: 64px;
  width: 64px;
}

#admin-nd-logistics .header .right-section .right-section__item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 2rem;
  color: #091e42;
}

#admin-nd-logistics .header .right-section .right-section__item p {
  font-size: 14px;
  color: #5e6c84;
  line-height: 20px;
  margin-top: 8px;
}

#admin-nd-logistics .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.5rem;
}

@media (max-width: 481px) {
  #admin-nd-logistics .img-container {
    width: 100%;
  }
}

@media (max-width: 481px) {
  #admin-nd-logistics .img-container img {
    width: 100%;
  }
}

#partners-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7.5rem;
  margin-bottom: 13rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#partners-container .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background: #091e42;
  padding: 4.4375rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left-section p {
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}

footer .right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 2pxx solid white;
}

footer .right-section .icons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 24px;
}

footer .right-section .copyright {
  margin-top: 8px;
}

footer .right-section .copyright p {
  font-size: 1rem;
  line-height: 16px;
  color: #fafbfc;
}
