* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.nav-bar {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10rem;
}

.logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

.logo__container .logo {
  color: #0052cc;
  font-weight: 900;
  font-size: 2rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 35%;
}

.nav-list li {
  font-size: .9rem;
  font-weight: 400;
  line-height: 24px;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
}

.btn-container .btn {
  border-radius: 4px;
  padding: 10px 12px;
  border: none;
}

.btn-container .btn_signUp {
  color: #212121;
  background: #ffffff;
  border: 1px solid #ccc;
}

.btn-container .btn_signIn {
  color: #ffffff;
  background: #0052cc;
  margin-left: 1rem;
}

#hero {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 5rem 10rem 10rem;
}

#hero .text-wrapper {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

#hero .text-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  color: #091e42;
  line-height: 57.6px;
}

#hero .text-wrapper p {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  margin-top: 36px;
}

#hero .img-wrapper {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#hero .img-wrapper img {
  width: 650px;
}

#human-resource {
  padding: 5rem 10rem 7.5rem 10rem;
  background: #F4F5F7;
}

#human-resource header {
  width: 40%;
}

#human-resource header h2 {
  font-size: 48px;
  color: #091E42;
}

#human-resource header p {
  font-size: 1rem;
  line-height: 24px;
  margin-top: 1.5rem;
  color: #5E6C84;
}

#human-resource .hr-itemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
  gap: 1.5rem;
}

#human-resource .hr-itemsContainer .hr-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem 1rem 2.5rem 1rem;
  border-radius: 1rem;
  background: #ffffff;
}

#human-resource .hr-itemsContainer .hr-item .hrItem__logo {
  width: 64px;
  height: 64px;
}

#human-resource .hr-itemsContainer .hr-item .hrItem__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 2rem;
  color: #091E42;
}

#human-resource .hr-itemsContainer .hr-item .hrItem__info {
  color: #5E6C84;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

#human-resource .employee-directory {
  width: 985px;
  margin-top: 7rem;
}
