#admin-nd-logistics {
  padding: 5rem 10rem;
  background: #ffffff;

  @media (max-width: 481px) {
    padding: 1rem;
      border: 1px solid rgb(143, 136, 123);

  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    @media (max-width: 481px) {
      flex-direction: column;
    }

    .left-section {
      flex: 0.4;
      padding: 2rem 2rem 2rem 0;

      h2 {
        font-size: 48px;
        line-height: 64.8px;
        color: $headingColor;
      }

      .heading {
        font-size: 47px;
      }

      p {
        font-size: 1rem;
        line-height: 24px;
        color: $paragraphColor;
        margin-top: 2rem;
      }
    }

    .right-section {
      flex: 0.6;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;

      @media (max-width: 481px) {
        flex-direction: column;
      }

      .right-section__item {
        padding: 2rem;
        border-radius: 16px;

        @media (max-width: 481px) {
          padding: 1rem;
        }

        .right-section__logo {
          height: 64px;
          width: 64px;
        }

        h3 {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          margin-top: 2rem;
          color: $headingColor;
        }

        p {
          font-size: 14px;
          color: $paragraphColor;
          line-height: 20px;
          margin-top: 8px;
        }
      }
    }
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;

    @media (max-width: 481px) {
      width: 100%;
    }

    img {
      @media (max-width: 481px) {
        width: 100%;
      }
    }
  }
}
