footer {
  background: $headingColor;
  padding: 4.4375rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left-section {
    p {
      color: #ffffff;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
    }
  }
  .right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2pxx solid white;

    .icons__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 150px;
      height: 24px;
    }

    .copyright {
      margin-top: 8px;

      p {
        font-size: 1rem;
        line-height: 24px;
        color: #fafbfc;
        font-weight: 400;
      }
    }
  }
}
