#hero {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem 10rem 9.75rem;

  @media (max-width: 481px) {
    flex-direction: column;
    padding: 1rem;
    margin-top: 0px;
    z-index: -10;
    position: relative;
  }

  .text-wrapper {
    flex: 0.45;
    //border: 1px solid red;

    h1 {
      font-size: 48px;
      font-weight: 700;
      color: #091e42;
      line-height: 57.6px;
      z-index: -100;

      @media (max-width: 481px){
        font-size: 32px;
        line-height: 38.4px;
      }
    }

    p {
      font-size: 1rem;
      line-height: 24px;
      color: #344563;
      margin-top: 36px;

      @media (max-width:481px) {
        font-size: 14px;
        line-height: 20px;
        margin-top: 24px;
      }
    }
  }

  .img-wrapper {
    //border: 1px solid green;
    flex: 0.55;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 481px) {
      width: 100%;
    }

    img {
      width: 100%;

      @media screen and (max-width: 481px) {
        width: 100%;
      }
    }
  }
}
