.nav-bar{
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  background: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
}

.left-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 331px;
  //border: 2px solid red;

  .logo{
    height: 24px;
    width: 144px;
    cursor: pointer;
  }
}

.nav-list{
  @include flexBox;
  list-style: none;
  width: 35%;

  li{
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
  }
}

.btn-container{
  @include flexBox;
  justify-content: space-between;
  width: 155px;

  .btn{
    border-radius: 4px;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
  }

  .btn_signUp{
    color: #212121;
    background: #ffffff;
    border: 1px solid #ccc;
  }

  .btn_signIn{
    color: #ffffff;
    background: #0052cc;
    margin-left: 1rem;
  }
}