#partners-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7.5rem;
  margin-bottom: 13rem;
  

  @media (max-width: 481px) {
    flex-direction: column;
    //width: 100vw;
  }

  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: 100%;
      object-fit: contain;
    }
  }

  .grp {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 481px) {
      gap: 24px;
    }
  }

  .grp-one {
    flex: 0.5;
  }

  .grp-two {
    flex: 0.5;
  }
}
