#partners-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7.5rem;
  margin-bottom: 13rem;

  @media (max-width: 481px) {
    flex-direction: column;
  }

  .desktop-grp {
    @media (max-width: 481px) {
      display: none;
    }
  }

  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .grp {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 481px) {
      gap: 24px;
    }
  }

  .grp-one {
    flex: 0.5;

    @media (max-width: 481px) {
      border: 2px solid red;
    }
  }

  .grp-two {
    flex: 0.5;

    @media (max-width: 481px) {
      border: 2px solid green;
    }
  }

  .mobile-grp {
    display: none;

    @media (max-width: 481px) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .mobile-grp-one,
      .mobile-grp-two {
        display: flex;
        gap: 24px;
      }

      //.mobile-grp-one {
      //}
      .mobile-grp-two {
        margin-top: 2rem;
      }
    }
  }
}
